<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<head>
<title>exercise buddy</title>
<meta http-equiv="Content-Type" content="text/html;
charset=UTF-8" />
</head>
<body>
<div class="container">
<h2>List of exercises:</h2>
<h1>git test</h1>

<table class="table table-striped">
<tr>
<th>Name </th>
<th>Type </th>
<th>Category</th>
<th>Sets</th>
</th>
</tr>
	<tr th:each="exercise : ${exercises}">

<td><a href="#" th:text="${exercise.name}"></a></td>
<td th:text="${exercise.type}"></td>
<td th:text="${exercise.category.name}"></td>
<td th:text="${exercise.sets}"></td>
</tr>
</table>
<a href="/add" class="btn btn-success">Add Exercise</a>
</div>
</body>
</html>