<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Server Programmings</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
</head>
<body>
	<div class="col-md-4" style="padding: 20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
		</form>
	</div>


	<h2 th:inline="text">[[${trainers.name}]] 's Schedule</h2>


	<table class="table table-striped">
		<tr>
			<th>Date</th>
			<th>From</th>
			<th>To</th>
			<th>Category</th>


		</tr>
		<tr th:each="training : ${trainers.trainings}">


			<td th:text="${#dates.format(training.date, 'yyyy-MM-dd')}"></td>

			<td th:text="${training.startingTime}"></td>
			<td th:text="${training.endingTime}"></td>
			<td th:text="${training.category.name}"></td>
		</tr>
	</table>
	<a href="/booktrainer" class="btn btn-success">Book a training</a>

</body>
</html>




